@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Roboto-Regular.ttf");
}

html {
  box-sizing: border-box;
  font: 400 18px/23.4px "Roboto", sans-serif;
  /* font: 500 36/46.8 'Roboto', sans-serif; */
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
 
h1 {
  font: 500 26px/31.2px "Roboto", sans-serif;
  color: #373737;
}
h2 {
  font: 400 16px/19px "Roboto", sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  margin: 0 auto;
}

.container {
  padding: 0 10px;
}

header,
main,
footer {
  min-width: 100%;
}

.logo__link {
  display: block;
  width: 77px;
  height: 60px;
  min-height: 60px;
  margin: 20px 0 93px;
}

.color-text {
  color: #00A0FF;
}

.color__gray {
  color: #A6A6A6;
}
.color__black {
  color: #373737;

}
.affiche__img {
  border-top: 10px;
}

.title__mobile {
font-size: 36px;
line-height: 47px;
letter-spacing: 0em;
}

.affiche__title {
  margin-bottom: 58px;
}

.affiche__link-text {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #00a0ff;
}

.affiche__icons {
  position: absolute;
  width: 26px;
  height: 27px;
  left: 264px;
  top: 10px;
}

.item {
  border-radius: 10px;
  border: 1px solid #e0e0e0;
}

.description__card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.date {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  text-decoration: none;
  color: #00a0ff;
  text-transform: uppercase;
}

.name {

  padding: 20px 0;
  margin: 0 0 32px;
}

.btn {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 185.55px;
  height: 27px;
  border-radius: 10px;
  background: #3faade;
  padding: 5px 10px;
}

.description__place-text {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.8px;
  color: #fff;
}

.icon {
  width: 15px;
  height: 15px;
  padding-right: 5px;
}
.left {
  padding-right: 10px;
}

.owl-item__title {
  margin-bottom: 28px;
}
.description__title {
  margin: 0;
  padding-bottom: 42px;
}
.card {
  display: flex;
  flex-direction: column;
  height: 120px;
  padding: 10px 20px;
}

.old {
  margin-bottom: 80px;
}
.park__inner {
  height: 1040px;
  width: 320px;
  background: #F2FAFF;
  border-radius: 30px;
  margin: 0;
}
.item__title {
  display: block;
  margin: 0;
  padding-top: 40px;
}


/* .place {
  display: block;
  width: 15px;
  height: 15px;
  background: violet;
  background-image: url(/images/icons/icon-place.svg);
  background-repeat: no-repeat;
} */
