@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Roboto-Regular.ttf");
}

html {
  box-sizing: border-box;
  font: 400 18px/23.4px "Roboto", sans-serif;
  /* font: 500 36/46.8 'Roboto', sans-serif; */
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h3 {
  font: 500 36px/46.8px "Roboto", sans-serif;
  color: #373737;
}
body {
  min-width: 320px;
  overflow-x: hidden;
  margin: 0 auto;
}

.container {
  padding: 0 10px;
}

header,
main,
footer {
  min-width: 100%;
}

/* .logo {
  height: px;
  padding-top: 20px;
  margin-bottom: 93px;
} */
.logo__link {
  display: block;
  width: 77px;
  height: 60px;
  min-height: 60px;
  margin: 20px 0 93px;
}

.affiche__img {
  border-top: 10px;
}

.affiche__link {
  margin-bottom: -9px;
}

.affiche__title {
  margin-bottom: 61px;
}

.affiche__link-text {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #00a0ff;
  padding-bottom: 30px;
}

.affiche__icons {
  position: absolute;
  width: 26px;
  height: 27px;
  left: 264px;
  top: 10px;
}

.item {
  border-radius: 10px;
  border: 1px solid #e0e0e0;
}

.description__card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.date {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  text-decoration: none;
  color: #00a0ff;
  text-transform: uppercase;
}

.name {
  font-size: 26px;
  line-height: 31.2px;
  padding: 20px 0;
  margin: 0 0 30px;
}

.btn {
  width: 185.55px;
  height: 27px;
  border-radius: 10px;
  background: #3faade;
  padding: 5px 10px;
}

.description__place-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.8px;
  color: #fff;
}

.icon {
  width: 15px;
  height: 15px;
}


/* .place {
  display: block;
  width: 15px;
  height: 15px;
  background: violet;
  background-image: url(/images/icons/icon-place.svg);
  background-repeat: no-repeat;
} */
